<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Chatbot and Image Classification</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <meta name="theme-color" content="#164863">
  </head>
  <body>
    

    <nav>
      <img class="logo" src="{{ url_for('static', filename='logo.jpg') }}" alt="Alternative Text">
      <li>
      <ul><a class="navs home" href="#">Home</a></ul>
      <ul><a class="navs about"href="#">About</a></ul>
      <ul><a class="navs contact" href="#">Contuct us</a></ul>
    </li>
    </nav>
    <h1>Corn disease detection with Chat Bot Ai</h1>
    <div class="main_contanier">
      <div class="sub_con">
    <div class="container_image">
   
    <h2>Image Classification:</h2>
    <form
      action="/image_classification"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="file" accept="image/*"/>
      <input class="bot_img" type="submit" value="Upload and Classify" />
      <br />
      <div class="in_im">
      <img
      class="inserted_imge"
        id="uploaded-image"
        src=""
        
        style="max-width: 300px"
      />
    </div>
    </form>
    <p class="classi status"> IMAGE STATUS: <span class="maintats" id="image-class"></span></p>
    <p class="classi what">WHAT IS IT: <span class="maintats"  id="image-diff"></span></p>
    <p class="classi confidence">CONFIDENCE: <span class="maintats"  id="confidence"></span></p>
  </div>
  <div class="line"> </div>

  <div class="container_chat">
    <h2>Chatbot:</h2> 
    <form action="/chat" method="post">
      <input
      spellcheck="true"
        type="text"
        name="user_message" 
        class="input-style"
        placeholder="Type your message..."
      />
      <input class="bot" type="submit" value="Send" />
    </form>
    <p class="my_ai">Hi!, I'm Corn Bot. your personal chat bot. You can ask me related on corn leaf.</p>
    <p class="chat_res main">Corn Bot: <br><span class="responses"id="chatbot-response"></span></p>
  </div>
  </div>
</div>
</div>
</div>
    <script>
      // Chatbot form submission
  document.querySelector('form[action="/chat"]').addEventListener("submit", function (e) {
    e.preventDefault();
    var userMessage = document.querySelector('input[name="user_message"]').value;

    // Remove the element with class "my_ai"
    var myAiElement = document.querySelector('.my_ai');
    if (myAiElement) {
      myAiElement.remove();
    }

    fetch("/chat", {
      method: "POST",
      body: new URLSearchParams({ user_message: userMessage }),
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
      },
    })
      .then((response) => response.text())
      .then((data) => {
        document.getElementById("chatbot-response").innerText = data;
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  });

      // Image classification form submission
      document
        .querySelector('form[action="/image_classification"]')
        .addEventListener("submit", function (e) {
          e.preventDefault();
          var formData = new FormData(this);
          fetch("/image_classification", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              document.getElementById("image-class").innerText = data.class;
              document.getElementById("image-diff").innerText = data.Diff;
              document.getElementById("confidence").innerText = data.confidence;

              // Display the uploaded image
              var uploadedImage = document.getElementById("uploaded-image");
              uploadedImage.src = URL.createObjectURL(formData.get("file"));
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
    </script>
  </body>
</html>
